:root {
    
    --def-danger: #be3131;
    --def-purple: #8524DC;
    --def-pink: #e72ec8;
    --def-darkpurple: #511a81;
    --def-orange: #fb6d37;
    --def-blue: #00cfc3;
    --def-yellow: #FDC102;
    --def-white:#fafafa;
    --def-gray:#e9e9e9;

    --def-purple-opacity: #8624dc27;
    --def-pink-opacity: #e72ec827;
    --def-orange-opacity: #fb6e371c;
    --def-blue-opacity: #00cfc510;
    --def-yellow-opacity: #fdc2022a;

  }
  .--def-purple{
    color: var(--def-purple) !important;
  } 
  .gray{
    color: gray !important;
  } 
   .--def-orange{
    color: var(--def-orange)!important;
  }
  .--def-blue{
    color: var(--def-blue)!important;
  }
  .--def-orange{
    color: var(--def-orange)!important;
  }
  .--def-yellow{
    color: var(--def-yellow)!important;
  }
  .--def-pink{
    color: var(--def-pink)!important;
  }
  .bg--def-purple-opacity{
    background-color: var(--def-purple-opacity) !important;
  } 
   .bg--def-orange-opacity{
    background-color: var(--def-orange-opacity)!important;
  }
  .bg--def-blue-opacity{
    background-color: var(--def-blue-opacity)!important;
  }
  .bg--def-orange-opacity{
    background-color: var(--def-orange-opacity)!important;
  }
  .bg--def-yellow-opacity{
    background-color: var(--def-yellow-opacity)!important;
  }
  .bg--def-pink-opacity{
    background-color: var(--def-pink-opacity)!important;
  }




  .bg-white{
    background-color: var(--def-white);
  }
  .bg-orange{
    background-color: var(--def-orange);
    border: 0.5px solid var(--def-orange) !important;

  }
  body{
    background-color: var(--def-gray) !important;

  }
body
.titleListItem{
    display: flex;
}
button{
    background-color: var(--def-purple);
    border-radius: 4px !important;
    color:  var(--def-white);
    border: 1px solid var(--def-purple);
}
button:hover, .button:active{
    background-color: var(--def-darkpurple);
    border-radius: 4px !important;
    color:  var(--def-white);
    border: 1px solid var(--def-darkpurple);
}

.center-h{
    margin-left: auto;
    display: block;
    margin-right: auto;
}
.w-fc{
    width: fit-content;
}
.w-100{
    width:100%
}
.border-radius{
    border-radius: 4px;
}
.dateText{
    font-size: 14px !important;
}
.mainLayout{
    padding: 15px;
}
.listItem:hover,.listItem:active{
    /* border-color: var(--def-yellow); */
}

.listItem{
    padding: 10px 10px;
    margin:  20px 0px;
    border-radius: 10px;
    max-height: 200px;
    min-height: 10vh;
    background-color: var(--def-white);
}
.exerciseListItem{
    padding: 10px;
}
.m-auto{
    margin: auto;
}
.m-0{
    margin: 0;
}
.mr-4{
    margin-right: 1.5rem;
}
.pr-2{
    padding-right: 1rem;
   }
   .pr-1{
    padding-right: 0.5rem;
   }
      
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
p.detilsExerciseListItem, .detilsExerciseListItem >p {
    font-size: 13px;
    margin: 0px;
    margin-bottom: 3px;
}
.listItemTitle{
    font-weight: 100;
    font-size: 25px;
}
.def-orange-border{
    border: 0.5px solid var(--def-orange) !important;
    color: var(--def-orange) !important;
    border-radius: 4px !important;
}
.def-yellow-border{
    border: 0.5px solid var(--def-yellow) !important;
    color: var(--def-yellow) !important;
    border-radius: 4px !important;
}
.rightCornerText{
    margin-left: auto;
    margin-right:4px;
    margin-top: 1px;
    color: var(--def-blue);
    border-radius: 4px;
    padding: 3px 5px;
    height: 24px;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 0px;
}
.smallText{
    font-size: 12px;
}
.backButton{
    padding: 10px;
    position: fixed;
    top: 12px;
    font-size: 24px;
    color: var(--def-purple);
}
.breakBtn{
    margin-top: 15px;
    width: 100%;
}
.timer{
    text-align: center;
    font-size: 35px;
    padding: 15px 10px;
    margin:  20px 0px;
    border-radius: 10px;
    max-height: 200px;
    min-height: 10vh;
    background-color: var(--def-yellow);
}
.CircularProgressbar{
    max-height: 100px;
}
.CircularProgressbar .CircularProgressbar-path {
    stroke: var(--def-white) !important;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}
.CircularProgressbar .CircularProgressbar-text {
    fill:var(--def-white) !important;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}
.text-center{
    text-align: center;
}
.bigInput >div> input{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.loginScreen{
   margin-left: auto;
   margin-right: auto;
   width: 70vw;
   height: 100vh;
   padding-top: 50px;
}
#loginform{
    margin-top: 105px;
}
#loginform > div, button{
    padding: 5px;
    margin: 5px;
    width: auto;
}
#loginform > button{
margin-top: 20px;
padding: 9px;
    width: 100%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
}
.closedSession{
    opacity: 59%;
}
.css-i44wyl {

    width: 100% !important;
}
.smallRoundLabel{
    background-color: #00cfc333;
    color: var(--def-blue);
    border-radius: 15px;
    margin: 0;
    padding: 1px 10px;
    font-size: 10px;
}
.rightCornerTextBig{
    margin-left: auto;
    color: gray;
    font-weight: 100;
    font-size: 20px;
}
form > input, form> input.pureInput{
    margin:10px 0px !important;
}
form > div > div.error>div>input{
    border: 2px solid var(--def-danger);
    border-radius: 4px;
}
form > div > div.error>label{
    color: var(--def-danger);
}
p.invalidField{
    font-size: 10px;
    color: var(--def-danger);
    /* margin-top: -5px; */
}
form > p{
    margin:0px 15px;
}

input.pureInput{
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    max-width: -webkit-fill-available;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
    border: 1px solid #a9acac;
    border-radius: 4px;

}