body
.titleListItem{
    display: flex;
}

.dateText{
    font-size: 10px;
}
.mainLayout{
    margin: 15px;
}
.listItem:hover{
    background-color: antiquewhite;
    
}
.listItem{
    padding: 15px 10px;
    margin:  20px 0px;
    border-radius: 10px;
    border: 1px solid lightblue;
    max-height: 200px;
}
.exerciseListItem{
    padding: 10px;
}
.m-auto{
    margin: auto;
}
.m-0{
    margin: 0;
}

.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
p.detilsExerciseListItem, .detilsExerciseListItem >p {
    font-size: 13px;
    margin: 0px;
    margin-bottom: 3px;
    color: grey;
}
.listItemTitle{
    font-weight: bold;
    font-size: 15px;
}

.rightCornerText{
    margin-left: auto;
    margin-right:4px;
    margin-top: 1px;
}
.smallText{
    font-size: 13px;
}
.backButton{
    padding: 10px;
    position: fixed;
    top: 20px;
    font-size: 24px;
    color: rgb(117, 116, 116);
}
.breakBtn{
    margin-top: 15px;
    width: 100%;
}
.timer{
    text-align: center;
    font-size: 35px;
}
.CircularProgressbar{
    max-height: 100px;
}
.text-center{
    text-align: center;
}
.bigInput >div> input{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}